Repository openstack-k8s-operators/ci-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/adoption-core-reviewers, @openstack-k8s-operators/bgp, @openstack-k8s-operators/security, @openstack-k8s-operators/dcn, @openstack-k8s-operators/must-gather, @openstack-k8s-operators/nfv, @eshulman2, @tosky, @jparoly, @jirimacku, @dsariel, @sdatko, @rlobillo, @eurijon, @openstack-k8s-operators/storage, @hjensas, @fultonj, @fmount, @abays, @openstack-k8s-operators/ciops, @openstack-k8s-operators/updates, @bshephar, @drosenfe

.github/CODEOWNERS:

# Default code owners
* @openstack-k8s-operators/cifmw-squad

# Adoption
roles/adoption_osp_deploy @openstack-k8s-operators/adoption-core-reviewers

# BGP
roles/ci_gen_kustomize_values/templates/bgp_dt01 @openstack-k8s-operators/bgp
roles/ci_gen_kustomize_values/templates/bgp-l3-xl @openstack-k8s-operators/bgp
playbooks/bgp-l3-computes-ready.yml @openstack-k8s-operators/bgp
playbooks/bgp @openstack-k8s-operators/bgp
scenarios/reproducers/bgp-l3-xl.yml @openstack-k8s-operators/bgp

# Compliance
roles/compliance @openstack-k8s-operators/security

# DCN
roles/ci_dcn_site @openstack-k8s-operators/dcn
playbooks/dcn.yml @openstack-k8s-operators/dcn
roles/ci_gen_kustomize_values/templates/dcn @openstack-k8s-operators/dcn

# Must gather
roles/os_must_gather @openstack-k8s-operators/must-gather

# NFV
roles/idrac_configuration @openstack-k8s-operators/nfv
roles/switch_config @openstack-k8s-operators/nfv
roles/tofu @eshulman2 @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/nfv-ovs-dpdk-sriov-hci @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-2nodesets @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/sriov @openstack-k8s-operators/nfv

# Polarion
roles/polarion @tosky @jparoly @jirimacku

# Report portal
roles/reportportal @jirimacku @dsariel @sdatko

# Shiftstack
roles/shiftstack @rlobillo @eurijon
roles/ci_gen_kustomize_values/templates/shiftstack @rlobillo @eurijon

# Storage
roles/cifmw_block_device @openstack-k8s-operators/storage
roles/cifmw_ceph_client @openstack-k8s-operators/storage
roles/cifmw_ceph_spec @openstack-k8s-operators/storage
roles/cifmw_cephadm @openstack-k8s-operators/storage
roles/cifmw_create_admin @openstack-k8s-operators/storage
playbooks/ceph.yml @openstack-k8s-operators/storage

# Storage
roles/nat64_appliance @hjensas
roles/ci_lvms_storage @fultonj @fmount @abays
roles/ci_local_storage @fultonj @fmount @abays

# Test
roles/tempest @openstack-k8s-operators/ciops
roles/test_operator @openstack-k8s-operators/ciops

# Uni
roles/ci_gen_kustomize_values/templates/uni* @openstack-k8s-operators/ciops

# Update
roles/update @openstack-k8s-operators/updates

# Validations
roles/validations @bshephar @drosenfe

Retry OCP CSR approval
  roles/openshift_adm/tasks/wait_for_cluster.yml
Owners: @openstack-k8s-operators/cifmw-squad

Do not print oc completion
  roles/ci_setup/tasks/packages.yml
Owners: @openstack-k8s-operators/cifmw-squad

cd_dcn_site: Set the correct hostname
  roles/ci_dcn_site/tasks/az.yml
  roles/ci_dcn_site/templates/edpm-pre-ceph/nodeset/values.yaml.j2
Owners: @openstack-k8s-operators/dcn

cd_dcn_site: Set the correct hostname
  roles/ci_dcn_site/tasks/az.yml
  roles/ci_dcn_site/templates/edpm-pre-ceph/nodeset/values.yaml.j2
Owners: @openstack-k8s-operators/dcn

Convert pre-run/post-run to lists
  zuul.d/base.yaml
  zuul.d/edpm_build_images.yaml
  zuul.d/edpm_build_images_content_provider.yaml
  zuul.d/molecule-base.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Convert pre-run/post-run to lists
  zuul.d/base.yaml
  zuul.d/edpm_build_images.yaml
  zuul.d/edpm_build_images_content_provider.yaml
  zuul.d/molecule-base.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Change callback plugin to default; format callback result to yaml
  ansible.cfg
Owners: @openstack-k8s-operators/cifmw-squad

Use venv instead of system wide installation
  ci/playbooks/dump_zuul_data.yml
  ci/playbooks/e2e-prepare.yml
  common-requirements.txt
  scripts/setup_env
  scripts/setup_molecule
Owners: @openstack-k8s-operators/cifmw-squad

Increase CEPH_TIMEOUT for component tests
  scenarios/centos-9/ceph_backends.yml
  scenarios/centos-9/ci.yml
Owners: @openstack-k8s-operators/cifmw-squad

Updated dictionary
  docs/dictionary/en-custom.txt
Owners: @openstack-k8s-operators/cifmw-squad

Removed rdo-jobs requirement from molecule
  zuul.d/molecule-base.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Updated dictionary
  docs/dictionary/en-custom.txt
Owners: @openstack-k8s-operators/cifmw-squad

test wait more
  roles/libvirt_manager/tasks/start_vms.yml
Owners: @openstack-k8s-operators/cifmw-squad

Removed rdo-jobs requirement from molecule
  zuul.d/molecule-base.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Update gh actions to sync branches
  .github/workflows/sync_branches_reusable_workflow.yml
Owners: @openstack-k8s-operators/cifmw-squad

Use zuul clonned repos for upstream in build_openstack_packages role
  roles/build_openstack_packages/tasks/parse_and_build_pkgs.yml
  roles/build_openstack_packages/tasks/run_dlrn.yml
Owners: @openstack-k8s-operators/cifmw-squad

Tempest config cleanup must be bool
  roles/test_operator/defaults/main.yml
Owners: @openstack-k8s-operators/ciops

Set extra mounts for test-operator
  roles/test_operator/README.md
  roles/test_operator/defaults/main.yml
Owners: @openstack-k8s-operators/ciops

List the zuul changes in reverse order when building packages
  roles/build_openstack_packages/tasks/parse_and_build_pkgs.yml
Owners: @openstack-k8s-operators/cifmw-squad

Partial revert commit 4188627
  roles/kustomize_deploy/tasks/execute_step.yml
Owners: @openstack-k8s-operators/cifmw-squad

Enable risky-file-permissions linter
  .ansible-lint
Owners: @openstack-k8s-operators/cifmw-squad

Move baremetal and Tufu jobs to 4.18 nested
  zuul.d/base.yaml
  zuul.d/edpm.yaml
  zuul.d/end-to-end.yaml
  zuul.d/tofu.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Update the trigger job to use cifms's workflow
  .github/workflows/sync_branches_with_ext_trigger.yml
Owners: @openstack-k8s-operators/cifmw-squad

Revert "Use zuul clonned repos for upstream in build_openstack_packages role"
  roles/build_openstack_packages/tasks/parse_and_build_pkgs.yml
  roles/build_openstack_packages/tasks/run_dlrn.yml
Owners: @openstack-k8s-operators/cifmw-squad

Adds GH action to sync branches
  .github/workflows/sync_branches_periodically.yml
  .github/workflows/sync_branches_reusable_workflow.yml
Owners: @openstack-k8s-operators/cifmw-squad

Adds gh actions to sync branches
  .github/workflows/sync_branches_periodically.yml
  .github/workflows/sync_branches_reusable_workflow.yml
  .github/workflows/sync_branches_with_ext_trigger.yml
Owners: @openstack-k8s-operators/cifmw-squad
