Repository openstack-k8s-operators/ci-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/adoption-core-reviewers, @openstack-k8s-operators/bgp, @openstack-k8s-operators/security, @openstack-k8s-operators/dcn, @openstack-k8s-operators/must-gather, @openstack-k8s-operators/nfv, @eshulman2, @tosky, @jparoly, @jirimacku, @dsariel, @sdatko, @rlobillo, @eurijon, @openstack-k8s-operators/storage, @hjensas, @fultonj, @fmount, @abays, @openstack-k8s-operators/ciops, @openstack-k8s-operators/updates, @bshephar, @drosenfe

[kustomize_deploy] use recursive=True to combine user kustomize values
  roles/kustomize_deploy/tasks/execute_step.yml
Owners: @openstack-k8s-operators/cifmw-squad

Fix get cri-o stats script
  scripts/get-stats.sh
Owners: @openstack-k8s-operators/cifmw-squad

Clean deployment resources as well as operators
  clean_openstack_deployment.yaml
  roles/kustomize_deploy/tasks/cleanup.yml
Owners: @openstack-k8s-operators/cifmw-squad

Ensure findall receives string
  plugins/modules/crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Add testcase for boolean key
  tests/unit/modules/test_crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Clean deployment resources as well as operators
  clean_openstack_deployment.yaml
  roles/kustomize_deploy/tasks/cleanup.yml
Owners: @openstack-k8s-operators/cifmw-squad

Add testcase for other data type key
  tests/unit/modules/test_crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

[reproducers][nfv] Add Networker node to deployment
  roles/ci_gen_kustomize_values/tasks/edpm_compute_nodeset_values.yml
  roles/ci_gen_kustomize_values/tasks/edpm_networker_nodeset_values.yml
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-common-nodeset-values/values.yaml.j2
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-compute-nodeset-values/values.yaml.j2
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-networker-nodeset-values/values.yaml.j2
  scenarios/reproducers/dt-nfv-ovs-dpdk-sriov-networker.yml
Owners: @openstack-k8s-operators/cifmw-squad

Use python from user's environment
  scripts/create_role_molecule.py
Owners: @openstack-k8s-operators/cifmw-squad

Removed variant of cifmw-molecule-tofu job
  ci/config/molecule.yaml
  ci/templates/molecule.yaml.j2
  zuul.d/molecule.yaml
  zuul.d/tofu.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Add iscsi initiator file to the existing machineConfig template
  roles/devscripts/templates/iscsi.j2
Owners: @openstack-k8s-operators/cifmw-squad

Fix get cri-o stats script
  scripts/get-stats.sh
Owners: @openstack-k8s-operators/cifmw-squad

Add insecure registries to DT/VA style deployments
  roles/openshift_setup/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad

WIP octavia provider network on networkers
  roles/ci_gen_kustomize_values/templates/uni01alpha/network-values/values.yaml.j2
Owners: @openstack-k8s-operators/ciops

Removed variant of cifmw-molecule-tofu job
  ci/config/molecule.yaml
  ci/templates/molecule.yaml.j2
  zuul.d/molecule.yaml
  zuul.d/tofu.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Use python from user's environment
  scripts/create_role_molecule.py
Owners: @openstack-k8s-operators/cifmw-squad

Add testcase for boolean key
  tests/unit/modules/test_crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Add testcase for other data type key
  tests/unit/modules/test_crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Ensure findall receives string
  plugins/modules/crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Add OpenStack Operator Initialization
  roles/update/defaults/main.yml
  roles/update/tasks/main.yml
Owners: @openstack-k8s-operators/updates

use ceph ingress service vars
  roles/cifmw_cephadm/defaults/main.yml
  roles/cifmw_cephadm/templates/ceph_rgw.yml.j2
Owners: @openstack-k8s-operators/storage

[reproducers][nfv] Add Networker node to deployment
  roles/ci_gen_kustomize_values/tasks/edpm_compute_nodeset_values.yml
  roles/ci_gen_kustomize_values/tasks/edpm_networker_nodeset_values.yml
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-common-nodeset-values/values.yaml.j2
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-compute-nodeset-values/values.yaml.j2
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-networker-nodeset-values/values.yaml.j2
  scenarios/reproducers/dt-nfv-ovs-dpdk-sriov-networker.yml
Owners: @openstack-k8s-operators/cifmw-squad

Change hardcoded eth0 value in multinode-customizations play
  ci/playbooks/multinode-customizations.yml
Owners: @openstack-k8s-operators/cifmw-squad

Do not print oc completion
  roles/ci_setup/tasks/packages.yml
Owners: @openstack-k8s-operators/cifmw-squad

Add insecure registries to DT/VA style deployments
  roles/openshift_setup/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad

DNM Checking simply Ansible callback plugin to display nested plays
  ansible.cfg
  ci/playbooks/architecture/run.yml
  ci/playbooks/kuttl/run.yml
  plugins/callback/citooling.py
  test.yaml
  test2.yaml
  test3.yaml
  zuul.d/kuttl_multinode.yaml
Owners: @openstack-k8s-operators/cifmw-squad

DNM Checking simply Ansible callback plugin to display nested plays
  ansible.cfg
  ci/playbooks/architecture/run.yml
  ci/playbooks/kuttl/run.yml
  plugins/callback/citooling.py
  test.yaml
  test2.yaml
  test3.yaml
Owners: @openstack-k8s-operators/cifmw-squad

DNM Flattening kuttle job execution
  ci/playbooks/kuttl/e2e-kuttl.yml
  ci/playbooks/kuttl/run.yml
  ci/playbooks/kuttl/scenarios
  scenarios/centos-9/ci.yml
  scenarios/centos-9/kuttl.yml
  zuul.d/kuttl_multinode.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Add check for nodepool mirror in ci info file
  roles/repo_setup/tasks/ci_mirror.yml
Owners: @openstack-k8s-operators/cifmw-squad

Monitor changes during update.
  playbooks/update.yml
  roles/update/README.md
  roles/update/defaults/main.yml
  roles/update/molecule/default/converge.yml
  roles/update/tasks/init_monitoring.yml
  roles/update/tasks/main.yml
  roles/update/templates/monitor_resources_changes.sh.j2
  roles/update/templates/update_event.sh.j2
Owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/updates

Remove rgw default zone and realm
  roles/cifmw_cephadm/templates/ceph_rgw.yml.j2
Owners: @openstack-k8s-operators/storage

Change callback plugin to default; format callback result to yaml
  ansible.cfg
Owners: @openstack-k8s-operators/cifmw-squad

Remove rgw default zone and realm
  roles/cifmw_cephadm/templates/ceph_rgw.yml.j2
Owners: @openstack-k8s-operators/storage

Create bmh compute replace validator
  roles/validations/defaults/main.yml
  roles/validations/tasks/edpm/bmh_compute_replace.yml
Owners: @bshephar, @drosenfe

Change the way how the hooks playbook is executed
  ci/playbooks/kuttl/e2e-kuttl.yml
  deploy-edpm.yml
  playbooks/02-infra.yml
  playbooks/03-build-packages.yml
  playbooks/04-build-containers.yml
  playbooks/05-build-operators.yml
  playbooks/06-deploy-architecture.yml
  playbooks/06-deploy-edpm.yml
  playbooks/07-admin-setup.yml
  playbooks/08-run-tests.yml
  playbooks/98-pre-end.yml
  playbooks/hooks.yml
  playbooks/update.yml
Owners: @openstack-k8s-operators/cifmw-squad

Update adoption scenario uni06zeta
  scenarios/adoption/uni06zeta.yml
Owners: @openstack-k8s-operators/cifmw-squad

Add a flag to disable ci_mirror repos
  roles/repo_setup/defaults/main.yml
  roles/repo_setup/tasks/ci_mirror.yml
  roles/repo_setup/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad

Fix continuous control plane testing during update
  roles/update/tasks/create_local_openstackclient.yml
  roles/update/tasks/create_test_files.yml
  roles/update/tasks/main.yml
  roles/update/templates/workload_launch_k8s.sh.j2
Owners: @openstack-k8s-operators/updates

Use rpm python packages instead of pip packages
  bindep.txt
  common-requirements.txt
Owners: @openstack-k8s-operators/cifmw-squad

Check better for the secret
  roles/cifmw_external_dns/tasks/cert.yml
Owners: @openstack-k8s-operators/cifmw-squad

.github/CODEOWNERS:

# Default code owners
* @openstack-k8s-operators/cifmw-squad

# Adoption
roles/adoption_osp_deploy @openstack-k8s-operators/adoption-core-reviewers

# BGP
roles/ci_gen_kustomize_values/templates/bgp_dt01 @openstack-k8s-operators/bgp
roles/ci_gen_kustomize_values/templates/bgp-l3-xl @openstack-k8s-operators/bgp
playbooks/bgp-l3-computes-ready.yml @openstack-k8s-operators/bgp
playbooks/bgp @openstack-k8s-operators/bgp
scenarios/reproducers/bgp-l3-xl.yml @openstack-k8s-operators/bgp

# Compliance
roles/compliance @openstack-k8s-operators/security

# DCN
roles/ci_dcn_site @openstack-k8s-operators/dcn
playbooks/dcn.yml @openstack-k8s-operators/dcn
roles/ci_gen_kustomize_values/templates/dcn @openstack-k8s-operators/dcn

# Must gather
roles/os_must_gather @openstack-k8s-operators/must-gather

# NFV
roles/idrac_configuration @openstack-k8s-operators/nfv
roles/switch_config @openstack-k8s-operators/nfv
roles/tofu @eshulman2 @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/nfv-ovs-dpdk-sriov-hci @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-2nodesets @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/sriov @openstack-k8s-operators/nfv

# Polarion
roles/polarion @tosky @jparoly @jirimacku

# Report portal
roles/reportportal @jirimacku @dsariel @sdatko

# Shiftstack
roles/shiftstack @rlobillo @eurijon
roles/ci_gen_kustomize_values/templates/shiftstack @rlobillo @eurijon

# Storage
roles/cifmw_block_device @openstack-k8s-operators/storage
roles/cifmw_ceph_client @openstack-k8s-operators/storage
roles/cifmw_ceph_spec @openstack-k8s-operators/storage
roles/cifmw_cephadm @openstack-k8s-operators/storage
roles/cifmw_create_admin @openstack-k8s-operators/storage
playbooks/ceph.yml @openstack-k8s-operators/storage

# Storage
roles/nat64_appliance @hjensas
roles/ci_lvms_storage @fultonj @fmount @abays
roles/ci_local_storage @fultonj @fmount @abays

# Test
roles/tempest @openstack-k8s-operators/ciops
roles/test_operator @openstack-k8s-operators/ciops

# Uni
roles/ci_gen_kustomize_values/templates/uni* @openstack-k8s-operators/ciops

# Update
roles/update @openstack-k8s-operators/updates

# Validations
roles/validations @bshephar @drosenfe
