Repository openstack-k8s-operators/ci-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/adoption-core-reviewers, @openstack-k8s-operators/bgp, @openstack-k8s-operators/security, @openstack-k8s-operators/dcn, @openstack-k8s-operators/must-gather, @openstack-k8s-operators/nfv, @eshulman2, @tosky, @jparoly, @jirimacku, @dsariel, @sdatko, @rlobillo, @eurijon, @openstack-k8s-operators/storage, @hjensas, @fultonj, @fmount, @abays, @openstack-k8s-operators/ciops, @openstack-k8s-operators/updates, @bshephar, @drosenfe

Add Mask Secret Task
  plugins/modules/crawl_n_mask.py
  roles/artifacts/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad

Retry nmcli command when timeout reached
  ci/playbooks/multinode-customizations.yml
Owners: @openstack-k8s-operators/cifmw-squad

Start virtqemud service instead of checking for the sock path
  roles/libvirt_manager/tasks/clean_layout.yml
Owners: @openstack-k8s-operators/cifmw-squad

[tobiko] Replaced ubuntu advanced guest image with fedora
  roles/test_operator/README.md
  roles/test_operator/defaults/main.yml
  roles/test_operator/vars/main.yml
Owners: @openstack-k8s-operators/ciops

Drop kubelet reconfiguration
  ci/playbooks/crc/reconfigure-kubelet.yml
  zuul.d/base.yaml
Owners: @openstack-k8s-operators/cifmw-squad

DNM Checking simply Ansible callback plugin
  ansible.cfg
  plugins/callback/citooling.py
  test.yaml
  test2.yaml
  test3.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Drop kubelet reconfiguration
  ci/playbooks/crc/reconfigure-kubelet.yml
  zuul.d/base.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Add tobiko_cleanup in cifmw
  roles/test_operator/README.md
  roles/test_operator/defaults/main.yml
  roles/test_operator/tasks/runners/tobiko_runner.yml
Owners: @openstack-k8s-operators/ciops

Add test cases for mask_n_crawl module
  plugins/modules/crawl_n_mask.py
  tests/unit/modules/test_crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Remove rgw default zone and realm
  roles/cifmw_cephadm/templates/ceph_rgw.yml.j2
Owners: @openstack-k8s-operators/storage

DNM Add chapter how to debug kuttl job
  docs/source/usage/01_usage.md
Owners: @openstack-k8s-operators/cifmw-squad

Use $PIP (venv pip if $USE_VENV is true, else system pip) instead of explicit $SYSTEM_PIP
  scripts/setup_env
Owners: @openstack-k8s-operators/cifmw-squad

Update CRDs when changing test-operator version
  roles/test_operator/tasks/main.yml
Owners: @openstack-k8s-operators/ciops

Change default of expectedFailuresList parameter
  roles/test_operator/defaults/main.yml
Owners: @openstack-k8s-operators/ciops

New OLM Parameter for Managing Deployment of Specific Versions
  playbooks/06-deploy-architecture.yml
  playbooks/update.yml
  roles/ci_gen_kustomize_values/README.md
  roles/ci_gen_kustomize_values/tasks/olm_subscriptions_overlay.yml
  roles/ci_gen_kustomize_values/templates/common/olm-values/values.yaml.j2
  roles/kustomize_deploy/tasks/install_operators.yml
  roles/update/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/updates

New OLM parameter for managing deployment of installPlan approval.
  roles/ci_gen_kustomize_values/README.md
  roles/ci_gen_kustomize_values/tasks/olm_subscriptions_overlay.yml
  roles/ci_gen_kustomize_values/templates/common/olm-values/values.yaml.j2
  roles/kustomize_deploy/tasks/install_operators.yml
  roles/kustomize_deploy/tasks/install_plan.yml
  roles/update/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/updates

use ceph ingress service vars
  roles/cifmw_cephadm/defaults/main.yml
  roles/cifmw_cephadm/templates/ceph_rgw.yml.j2
Owners: @openstack-k8s-operators/storage

New OLM parameter for managing deployment of installPlan approval.
  roles/ci_gen_kustomize_values/README.md
  roles/ci_gen_kustomize_values/tasks/olm_subscriptions_overlay.yml
  roles/ci_gen_kustomize_values/templates/common/olm-values/values.yaml.j2
  roles/kustomize_deploy/tasks/install_operators.yml
  roles/kustomize_deploy/tasks/install_plan.yml
  roles/update/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/updates

Create bmh compute replace validator
  roles/validations/defaults/main.yml
  roles/validations/tasks/edpm/bmh_compute_replace.yml
Owners: @bshephar, @drosenfe

Add support for federation in the horizon UI
  hooks/playbooks/federation-controlplane-config.yml
  hooks/playbooks/federation-horizon-controlplane-config.yml
  hooks/playbooks/federation-post-deploy.yml
  hooks/playbooks/federation-pre-deploy.yml
  roles/federation/tasks/run_keycloak_realm_setup.yml
Owners: @openstack-k8s-operators/cifmw-squad

Monitor changes during update.
  playbooks/update.yml
  roles/update/README.md
  roles/update/defaults/main.yml
  roles/update/molecule/default/converge.yml
  roles/update/tasks/init_monitoring.yml
  roles/update/tasks/main.yml
  roles/update/templates/monitor_resources_changes.sh.j2
  roles/update/templates/update_step.sh.j2
Owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/updates

DNM Set IOPS limitation for CRC host
  ci/playbooks/iops-limitation.yaml
  zuul.d/base.yaml
  zuul.d/kuttl.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Fix get cri-o stats script
  scripts/get-stats.sh
Owners: @openstack-k8s-operators/cifmw-squad

Removed variant of cifmw-molecule-tofu job
  zuul.d/molecule.yaml
  zuul.d/tofu.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Increase ControlPersist timeout to 300 seconds
  ansible.cfg
Owners: @openstack-k8s-operators/cifmw-squad

Add multus_type to cifmw_networking_env_definition variable
  .ansible-lint
  plugins/module_utils/net_map/networking_definition.py
  plugins/module_utils/net_map/networking_env_definitions.py
  plugins/module_utils/net_map/networking_mapper.py
  roles/ci_multus/README.md
  roles/ci_multus/molecule/default/converge.yml
  roles/ci_multus/molecule/default/molecule.yml
  roles/ci_multus/molecule/default/nads_output.yml
  roles/ci_multus/molecule/default/verify_crc.yml
  roles/ci_multus/molecule/resources/vars/shared_vars.yml
  roles/ci_multus/templates/nad.yml.j2
  roles/networking_mapper/molecule/default/converge.yml
  roles/networking_mapper/molecule/default/vars/input.yml
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools-full-map-out.json
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools-networks-out.json
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools-partial-map-out.json
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools.yml
Owners: @openstack-k8s-operators/cifmw-squad

Mask YAML files
  plugins/modules/crawl_n_mask.py
  scripts/crawl_n_mask.py
  scripts/tests/samples/nochange.yaml
  scripts/tests/samples/secret1.yaml
  scripts/tests/samples/secret2.yaml
  scripts/tests/test_crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Add test cases for mask_n_crawl module
  plugins/modules/crawl_n_mask.py
  tests/unit/modules/test_crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Add Mask Secret Task
  plugins/modules/crawl_n_mask.py
  roles/artifacts/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad

Mask YAML files
  scripts/crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Mask YAML files
  scripts/crawl_n_mask.py
  scripts/tests/samples/nochange.yaml
  scripts/tests/samples/secret1.yaml
  scripts/tests/samples/secret2.yaml
  scripts/tests/test_crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Set `ignore_errors` to true for crawl_n_mask
  roles/artifacts/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad

Set `ignore_errors` to true for crawl_n_mask
  roles/artifacts/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad

Timeout crawl_n_mask task if it's taking too long.
  roles/artifacts/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad

Add more protect keys and excluded dirs
  plugins/modules/crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

DNM Set IOPS limitation for CRC host
  ci/playbooks/iops-limitation.yaml
  zuul.d/base.yaml
  zuul.d/kuttl.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Add more protect keys and excluded dirs
  plugins/modules/crawl_n_mask.py
Owners: @openstack-k8s-operators/cifmw-squad

Timeout crawl_n_mask task if it's taking too long.
  roles/artifacts/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad

Increase ControlPersist timeout to 300 seconds
  ansible.cfg
Owners: @openstack-k8s-operators/cifmw-squad

use ceph ingress service vars
  roles/cifmw_cephadm/defaults/main.yml
  roles/cifmw_cephadm/templates/ceph_rgw.yml.j2
Owners: @openstack-k8s-operators/storage

.github/CODEOWNERS:

# Default code owners
* @openstack-k8s-operators/cifmw-squad

# Adoption
roles/adoption_osp_deploy @openstack-k8s-operators/adoption-core-reviewers

# BGP
roles/ci_gen_kustomize_values/templates/bgp_dt01 @openstack-k8s-operators/bgp
roles/ci_gen_kustomize_values/templates/bgp-l3-xl @openstack-k8s-operators/bgp
playbooks/bgp-l3-computes-ready.yml @openstack-k8s-operators/bgp
playbooks/bgp @openstack-k8s-operators/bgp
scenarios/reproducers/bgp-l3-xl.yml @openstack-k8s-operators/bgp

# Compliance
roles/compliance @openstack-k8s-operators/security

# DCN
roles/ci_dcn_site @openstack-k8s-operators/dcn
playbooks/dcn.yml @openstack-k8s-operators/dcn
roles/ci_gen_kustomize_values/templates/dcn @openstack-k8s-operators/dcn

# Must gather
roles/os_must_gather @openstack-k8s-operators/must-gather

# NFV
roles/idrac_configuration @openstack-k8s-operators/nfv
roles/switch_config @openstack-k8s-operators/nfv
roles/tofu @eshulman2 @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/nfv-ovs-dpdk-sriov-hci @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-2nodesets @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/sriov @openstack-k8s-operators/nfv

# Polarion
roles/polarion @tosky @jparoly @jirimacku

# Report portal
roles/reportportal @jirimacku @dsariel @sdatko

# Shiftstack
roles/shiftstack @rlobillo @eurijon
roles/ci_gen_kustomize_values/templates/shiftstack @rlobillo @eurijon

# Storage
roles/cifmw_block_device @openstack-k8s-operators/storage
roles/cifmw_ceph_client @openstack-k8s-operators/storage
roles/cifmw_ceph_spec @openstack-k8s-operators/storage
roles/cifmw_cephadm @openstack-k8s-operators/storage
roles/cifmw_create_admin @openstack-k8s-operators/storage
playbooks/ceph.yml @openstack-k8s-operators/storage

# Storage
roles/nat64_appliance @hjensas
roles/ci_lvms_storage @fultonj @fmount @abays
roles/ci_local_storage @fultonj @fmount @abays

# Test
roles/tempest @openstack-k8s-operators/ciops
roles/test_operator @openstack-k8s-operators/ciops

# Uni
roles/ci_gen_kustomize_values/templates/uni* @openstack-k8s-operators/ciops

# Update
roles/update @openstack-k8s-operators/updates

# Validations
roles/validations @bshephar @drosenfe
