Repository openstack-k8s-operators/ci-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/adoption-core-reviewers, @openstack-k8s-operators/bgp, @openstack-k8s-operators/security, @openstack-k8s-operators/dcn, @openstack-k8s-operators/must-gather, @openstack-k8s-operators/nfv, @eshulman2, @tosky, @jparoly, @jirimacku, @dsariel, @sdatko, @rlobillo, @eurijon, @openstack-k8s-operators/storage, @hjensas, @fultonj, @fmount, @abays, @openstack-k8s-operators/ciops, @openstack-k8s-operators/updates, @bshephar, @drosenfe

.github/CODEOWNERS:

# Default code owners
* @openstack-k8s-operators/cifmw-squad

# Adoption
roles/adoption_osp_deploy @openstack-k8s-operators/adoption-core-reviewers

# BGP
roles/ci_gen_kustomize_values/templates/bgp_dt01 @openstack-k8s-operators/bgp
roles/ci_gen_kustomize_values/templates/bgp-l3-xl @openstack-k8s-operators/bgp
playbooks/bgp-l3-computes-ready.yml @openstack-k8s-operators/bgp
playbooks/bgp @openstack-k8s-operators/bgp
scenarios/reproducers/bgp-l3-xl.yml @openstack-k8s-operators/bgp

# Compliance
roles/compliance @openstack-k8s-operators/security

# DCN
roles/ci_dcn_site @openstack-k8s-operators/dcn
playbooks/dcn.yml @openstack-k8s-operators/dcn
roles/ci_gen_kustomize_values/templates/dcn @openstack-k8s-operators/dcn

# Must gather
roles/os_must_gather @openstack-k8s-operators/must-gather

# NFV
roles/idrac_configuration @openstack-k8s-operators/nfv
roles/switch_config @openstack-k8s-operators/nfv
roles/tofu @eshulman2 @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/nfv-ovs-dpdk-sriov-hci @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-2nodesets @openstack-k8s-operators/nfv
roles/ci_gen_kustomize_values/templates/sriov @openstack-k8s-operators/nfv

# Polarion
roles/polarion @tosky @jparoly @jirimacku

# Report portal
roles/reportportal @jirimacku @dsariel @sdatko

# Shiftstack
roles/shiftstack @rlobillo @eurijon
roles/ci_gen_kustomize_values/templates/shiftstack @rlobillo @eurijon

# Storage
roles/cifmw_block_device @openstack-k8s-operators/storage
roles/cifmw_ceph_client @openstack-k8s-operators/storage
roles/cifmw_ceph_spec @openstack-k8s-operators/storage
roles/cifmw_cephadm @openstack-k8s-operators/storage
roles/cifmw_create_admin @openstack-k8s-operators/storage
playbooks/ceph.yml @openstack-k8s-operators/storage

# Storage
roles/nat64_appliance @hjensas
roles/ci_lvms_storage @fultonj @fmount @abays
roles/ci_local_storage @fultonj @fmount @abays

# Test
roles/tempest @openstack-k8s-operators/ciops
roles/test_operator @openstack-k8s-operators/ciops

# Uni
roles/ci_gen_kustomize_values/templates/uni* @openstack-k8s-operators/ciops

# Update
roles/update @openstack-k8s-operators/updates

# Validations
roles/validations @bshephar @drosenfe

Add support for federation in the horizon UI
  hooks/playbooks/federation-controlplane-config.yml
  hooks/playbooks/federation-horizon-controlplane-config.yml
  hooks/playbooks/federation-post-deploy.yml
  hooks/playbooks/federation-pre-deploy.yml
Owners: @openstack-k8s-operators/cifmw-squad

Create bmh compute replace validator
  roles/validations/defaults/main.yml
  roles/validations/tasks/edpm/bmh_compute_replace.yml
Owners: @bshephar, @drosenfe

Prevent updating openstackclient pod during openstack update
  roles/update/tasks/main.yml
  roles/update/tasks/prevent_openstack_client_update.yml
Owners: @openstack-k8s-operators/updates

[BGP-L3-XL] Remove ctlplane interface from OCP nodes
  scenarios/reproducers/bgp-l3-xl.yml
  scenarios/reproducers/bgp/devscripts_netconfig/hosts.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-master-0.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-master-1.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-master-2.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-0.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-1.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-2.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-3.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-4.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-5.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-6.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-7.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-8.yaml
  scenarios/reproducers/bgp/devscripts_netconfig/ocp-worker-9.yaml
Owners: @openstack-k8s-operators/bgp, @openstack-k8s-operators/cifmw-squad

[cifmw_external_dns] Check better for the secret
  roles/cifmw_external_dns/tasks/cert.yml
Owners: @openstack-k8s-operators/cifmw-squad

Adds GH action to run branch sync
  .github/workflows/sync_branches_reusable_workflow.yml
  .github/workflows/sync_branches_with_ext_trigger.yml
Owners: @openstack-k8s-operators/cifmw-squad

WIP: crc-bootstrap-staging-ironic
  hooks/playbooks/control_plane_ironic.yml
  zuul.d/edpm_multinode.yaml
  zuul.d/projects.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Use upstream ci-framework
  roles/ci_dcn_site/defaults/main.yml
Owners: @openstack-k8s-operators/dcn

[ci_dcn_site] Update repo variables paths
  roles/ci_dcn_site/defaults/main.yml
Owners: @openstack-k8s-operators/dcn

Adds GH action to run branch sync
  .github/workflows/sync_branches_reusable_workflow.yml
  .github/workflows/sync_branches_with_ext_trigger.yml
Owners: @openstack-k8s-operators/cifmw-squad

Set UTC timezone on all hosts
  ci/playbooks/e2e-prepare.yml
Owners: @openstack-k8s-operators/cifmw-squad

[reproducers][nfv] Add Networker node to deployment
  roles/ci_gen_kustomize_values/tasks/edpm_compute_nodeset_values.yml
  roles/ci_gen_kustomize_values/tasks/edpm_networker_nodeset_values.yml
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-common-nodeset-values/values.yaml.j2
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-compute-nodeset-values/values.yaml.j2
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-networker-nodeset-values/values.yaml.j2
  scenarios/reproducers/dt-nfv-ovs-dpdk-sriov-networker.yml
Owners: @openstack-k8s-operators/cifmw-squad

DNM Add chapter how to debug kuttl job
  docs/source/usage/01_usage.md
Owners: @openstack-k8s-operators/cifmw-squad

DNM
  plugins/module_utils/net_map/networking_definition.py
  plugins/module_utils/net_map/networking_env_definitions.py
  plugins/module_utils/net_map/networking_mapper.py
  roles/ci_multus/README.md
  roles/ci_multus/molecule/default/molecule.yml
  roles/ci_multus/molecule/default/nads_output.yml
  roles/ci_multus/molecule/default/verify_crc.yml
  roles/ci_multus/molecule/local/molecule.yml
  roles/ci_multus/molecule/local/nads_output.yml
  roles/ci_multus/molecule/local_ipv6/nads_output.yml
  roles/ci_multus/molecule/resources/vars/shared_vars.yml
  roles/ci_multus/templates/nad.yml.j2
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools-full-map-out.json
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools-networks-out.json
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools-partial-map-out.json
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools.yml
Owners: @openstack-k8s-operators/cifmw-squad

Change hardcoded eth0 value in multinode-customizations play
  ci/playbooks/multinode-customizations.yml
Owners: @openstack-k8s-operators/cifmw-squad

New OLM Parameter for Managing Deployment of Specific Versions
  playbooks/06-deploy-architecture.yml
  playbooks/update.yml
  roles/ci_gen_kustomize_values/README.md
  roles/ci_gen_kustomize_values/tasks/olm_subscriptions_overlay.yml
  roles/ci_gen_kustomize_values/templates/common/olm-values/values.yaml.j2
  roles/kustomize_deploy/tasks/install_operators.yml
  roles/update/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/updates

New OLM parameter for managing deployment of installPlan approval.
  roles/ci_gen_kustomize_values/README.md
  roles/ci_gen_kustomize_values/tasks/olm_subscriptions_overlay.yml
  roles/ci_gen_kustomize_values/templates/common/olm-values/values.yaml.j2
  roles/kustomize_deploy/tasks/install_operators.yml
  roles/kustomize_deploy/tasks/install_plan.yml
  roles/update/tasks/main.yml
Owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/updates

DNM Flattening kuttle job execution
  ci/playbooks/kuttl/kuttl-from-operator-deps.yaml
  ci/playbooks/kuttl/kuttl-parse-vars.yml
  ci/playbooks/kuttl/run.yml
  roles/parse-vars/tasks/main.yaml
  zuul.d/kuttl_multinode.yaml
Owners: @openstack-k8s-operators/cifmw-squad

ci_dcn_site: Add removing and adding a node to a DCN site
  playbooks/dcn.yml
  roles/ci_dcn_site/README.md
  roles/ci_dcn_site/tasks/add_node.yml
  roles/ci_dcn_site/tasks/ceph.yml
  roles/ci_dcn_site/tasks/post-ceph.yml
  roles/ci_dcn_site/tasks/remove_node.yml
  roles/ci_dcn_site/tasks/scaledown_site.yml
  roles/ci_dcn_site/tasks/update_conf_new_node.yml
  roles/ci_dcn_site/templates/dataplane_remove_node_deploy.yaml.j2
  roles/ci_dcn_site/templates/deployment/values.yaml.j2
  roles/ci_dcn_site/templates/node_network_env_definitions.yaml.j2
  roles/ci_dcn_site/templates/values.yaml.j2
  roles/cifmw_cephadm/tasks/scale_down_node.yml
Owners: @openstack-k8s-operators/dcn, @openstack-k8s-operators/storage

[kustomize_deploy] use recursive=True to combine user kustomize values
  roles/kustomize_deploy/tasks/execute_step.yml
Owners: @openstack-k8s-operators/cifmw-squad

[cifmw_external_dns] Check better for the secret
  roles/cifmw_external_dns/tasks/cert.yml
Owners: @openstack-k8s-operators/cifmw-squad

Add junit Ansible callback
  ansible.cfg
  playbooks/99-logs.yml
Owners: @openstack-k8s-operators/cifmw-squad

ci_dcn_site: Add removing and adding a node to a DCN site
  playbooks/dcn.yml
  roles/ci_dcn_site/README.md
  roles/ci_dcn_site/tasks/add_node.yml
  roles/ci_dcn_site/tasks/ceph.yml
  roles/ci_dcn_site/tasks/post-ceph.yml
  roles/ci_dcn_site/tasks/remove_node.yml
  roles/ci_dcn_site/tasks/scaledown_site.yml
  roles/ci_dcn_site/tasks/update_conf_new_node.yml
  roles/ci_dcn_site/templates/dataplane_remove_node_deploy.yaml.j2
  roles/ci_dcn_site/templates/deployment/values.yaml.j2
  roles/ci_dcn_site/templates/node_network_env_definitions.yaml.j2
  roles/ci_dcn_site/templates/values.yaml.j2
  roles/cifmw_cephadm/tasks/scale_down_node.yml
Owners: @openstack-k8s-operators/dcn, @openstack-k8s-operators/storage

wa
  playbooks/rabbit.yaml
Owners: @openstack-k8s-operators/cifmw-squad

Monitor changes during update.
  playbooks/update.yml
  roles/update/README.md
  roles/update/defaults/main.yml
  roles/update/molecule/default/converge.yml
  roles/update/tasks/init_monitoring.yml
  roles/update/tasks/main.yml
  roles/update/templates/monitor_resources_changes.sh.j2
  roles/update/templates/update_step.sh.j2
Owners: @openstack-k8s-operators/cifmw-squad, @openstack-k8s-operators/updates

Initialize new version when needed.
  roles/update/tasks/init_openstack.yml
  roles/update/tasks/main.yml
Owners: @openstack-k8s-operators/updates

New monitoring stage around update of the openstackclient
  roles/update/tasks/main.yml
Owners: @openstack-k8s-operators/updates

Some more logging stage.
  roles/update/tasks/main.yml
Owners: @openstack-k8s-operators/updates

Improve logging from the workload test run.
  roles/update/templates/workload_launch.sh.j2
Owners: @openstack-k8s-operators/updates

Fix openstackclient during continuous testing.
  roles/update/tasks/create_test_files.yml
  roles/update/tasks/main.yml
  roles/update/templates/prepare-local-openstackclient.sh.j2
  roles/update/templates/workload_launch_k8s.sh.j2
Owners: @openstack-k8s-operators/updates

Create nodeset template for nova02beta
  roles/ci_gen_kustomize_values/templates/nova02beta/edpm-nodeset-values/values.yaml.j2
  roles/ci_gen_kustomize_values/templates/nova02beta/edpm-nodeset2-values/values.yaml.j2
Owners: @openstack-k8s-operators/cifmw-squad

Fix namespace.
  playbooks/rabbit.yaml
Owners: @openstack-k8s-operators/cifmw-squad

[reproducers][nfv] Add Networker node to deployment
  roles/ci_gen_kustomize_values/tasks/edpm_compute_nodeset_values.yml
  roles/ci_gen_kustomize_values/tasks/edpm_networker_nodeset_values.yml
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-common-nodeset-values/values.yaml.j2
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-compute-nodeset-values/values.yaml.j2
  roles/ci_gen_kustomize_values/templates/ovs-dpdk-sriov-networker/edpm-networker-nodeset-values/values.yaml.j2
  scenarios/reproducers/dt-nfv-ovs-dpdk-sriov-networker.yml
Owners: @openstack-k8s-operators/cifmw-squad

Add multus_type to cifmw_networking_env_definition variable
  .ansible-lint
  plugins/module_utils/net_map/networking_definition.py
  plugins/module_utils/net_map/networking_env_definitions.py
  plugins/module_utils/net_map/networking_mapper.py
  roles/ci_multus/README.md
  roles/ci_multus/molecule/default/converge.yml
  roles/ci_multus/molecule/default/molecule.yml
  roles/ci_multus/molecule/default/nads_output.yml
  roles/ci_multus/molecule/default/verify_crc.yml
  roles/ci_multus/molecule/resources/vars/shared_vars.yml
  roles/ci_multus/templates/nad.yml.j2
  roles/networking_mapper/molecule/default/converge.yml
  roles/networking_mapper/molecule/default/vars/input.yml
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools-full-map-out.json
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools-networks-out.json
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools-partial-map-out.json
  tests/unit/module_utils/test_files/networking-definition-valid-all-tools.yml
Owners: @openstack-k8s-operators/cifmw-squad

Retry nmcli command when timeout reached
  ci/playbooks/multinode-customizations.yml
Owners: @openstack-k8s-operators/cifmw-squad

Set ServerAlive params on ssh_jumper role
  roles/ssh_jumper/molecule/default/converge.yml
  roles/ssh_jumper/templates/ssh_host.conf.j2
Owners: @openstack-k8s-operators/cifmw-squad

Check better for the secret
  roles/cifmw_external_dns/tasks/cert.yml
Owners: @openstack-k8s-operators/cifmw-squad

[OSPNW-910] Add kustomize template for uni04delta-ipv6-adoption
  roles/ci_gen_kustomize_values/templates/uni04delta-ipv6-adoption/network-values/values.yaml.j2
Owners: @openstack-k8s-operators/ciops

[OSPNW-910] Add kustomize template for uni04delta-ipv6-adoption
  roles/ci_gen_kustomize_values/templates/uni04delta-ipv6-adoption/network-values/values.yaml.j2
Owners: @openstack-k8s-operators/ciops

ci_dcn_site: Add removing and adding a node to a DCN site
  playbooks/dcn.yml
  roles/ci_dcn_site/README.md
  roles/ci_dcn_site/tasks/add_node.yml
  roles/ci_dcn_site/tasks/ceph.yml
  roles/ci_dcn_site/tasks/post-ceph.yml
  roles/ci_dcn_site/tasks/remove_node.yml
  roles/ci_dcn_site/tasks/scaledown_site.yml
  roles/ci_dcn_site/tasks/update_conf_new_node.yml
  roles/ci_dcn_site/templates/dataplane_remove_node_deploy.yaml.j2
  roles/ci_dcn_site/templates/deployment/values.yaml.j2
  roles/ci_dcn_site/templates/node_network_env_definitions.yaml.j2
  roles/ci_dcn_site/templates/values.yaml.j2
  roles/cifmw_cephadm/tasks/scale_down_node.yml
Owners: @openstack-k8s-operators/dcn, @openstack-k8s-operators/storage
